name: btec_smart_platform
description: BTEC AI Assessment Platform
version: 1.0.0+1
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  google_fonts: ^6.1.0
  iconsax: ^0.0.8
  shimmer: ^3.0.0
  lottie: ^3.3.2
  percent_indicator: ^4.2.3
  animate_do: ^4.2.0
  fl_chart: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/animations/
    - assets/icons/
    - assets/fonts/

  fonts:
  - family: Cairo
    fonts:
      - asset: assets/fonts/Cairo-Regular.ttf